[Unit]
Description=run AQPy online NN training every 10 minutes

[Timer]
OnBootSec=3m
OnUnitActiveSec=10m
Persistent=true
Unit=aqi-train-online.service

[Install]
WantedBy=timers.target
